<app-layout>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Curso</h5>
      <!-- linha input -->
      <div class="row">
        <div class="form-group col-12">
          <label for="nome" class="control-label">Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="curso.nome" />
        </div>
      </div>
      <!-- linha Botão -->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="exibirAlerta()">Pesquisar</button>
        </div>
      </div>
      <!-- linha tabela -->
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <tr>
              <th></th>
              <th>Código</th>
              <th>Nome</th>
              <th>Carga Horária</th>
              <th>Data de Inicio</th>
              <th>Instrutor</th>
              <th>Local</th>
            </tr>
            <tr *ngFor="let item of listaCursos">
              <th><input type="radio" name="selecionado" (change)="selecionar(item)"/></th>
              <td>{{ item.codigo }}</td>
              <td>{{ item.nome }}</td>
              <td>{{ item.cargaHoraria }}</td>
              <td>{{ item.dataInicio | date:'dd/MM/yyyy'}}</td>
              <td>{{ item.instrutor }}</td>
              <td>{{ item.local }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- linha botão incluir -->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
        </div>
      </div>
      <!-- linha botão remover -->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="remover()">Excluir</button>
        </div>
      </div>
      <!-- linha botão alterar -->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
        </div>
      </div>
    </div>
  </div>
</app-layout>
